
body {
	font-family: RalewayLight, Arial, sans-serif;
}
.table {
	width: 950px !important;
}

.mainHeader {
	margin: 20% 0 60px;
}

.overlay-color {
  background: none repeat scroll 0 0 #000000;
  opacity: 0.9;
}
.overlay, .overlay-color {
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

h1, h3, h5, label {
	color: #FFF !important;
}

input.form-control, textarea.form-control, select.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    border-color: -moz-use-text-color -moz-use-text-color #fff;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    color: #fff;
    font-size: 1.125em;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
/*    padding: 20px;*/
}

select.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    border-color: -moz-use-text-color -moz-use-text-color #fff;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    color: #999999;
    font-size: 1.125em;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.button {
    border-color: #fff !important;
    border-radius: 0 !important;
    color: #51a4dc !important;
    margin: 50px auto !important;
    display: inline-block !important;
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    border: 1px solid #000000;
    font-family: RalewayBold, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 0.06em;
    line-height: 34px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-backface-visibility: hidden;
    z-index: 10;
}

.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-9 {
	padding-left: 0px !important;
}

th {
	color: #FFF;
}