<!DOCTYPE html>
<html>
<head>
    <title>HelloWorld Team Registration</title>
    <link rel="stylesheet" href="css/main.css" >
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/backstretch.js"></script> 
    <script src="js/app.js"></script>
</head>

<body ng-app="helloWorldAssessmentApp" ng-controller="mainController">
<div class="overlay">&nbsp;</div>
<div class="overlay-color">&nbsp;</div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2" ng-hide="showConfirmation">
            
            <div class=" mainHeader" >
                <h1>Join the HelloWorld Team</h1>
                <h5>Please fill out the form below to register.</h5>
            </div>
            <!-- FORM -->
            <form name="userForm" novalidate >

                <div class="form-group col-sm-6" ng-class="{ 'has-error' : fnameHasError ||  duplicate}">
                    <input type="text" name="fname" class="form-control" ng-model="user.fname" maxlength="35" required placeholder="First Name" ng-blur="checkFname()" ng-keyup="checkFname()">
                    <!-- Client-Side validation -->
                    <p ng-show="fnameReqErr" class="help-block">Your first name is required.</p>
                    <p ng-show="fnameAlphErr" class="help-block">First name should be alpha characters only.</p>
                    <!-- Server-Side validation -->
                    <p ng-show="duplicate" class="alert alert-info">Sorry! another person with this name registered already.</p>
                </div>

                <div class="form-group col-sm-6" ng-class="{ 'has-error' : lnameHasError }">
                    <input type="text" name="lname" class="form-control" ng-model="user.lname" maxlength="35" required placeholder="Last Name" ng-blur="checkLname()" ng-keyup="checkLname()">
                    <!-- Client-Side validation -->
                    <p ng-show="lnameReqErr" class="help-block">Your Last name is required.</p>
                    <!-- Server-Side validation -->
                    <p ng-show="lnameAlphErr" class="help-block">Last name should be alpha characters only.</p>
                </div>

                <div class="form-group col-sm-9" ng-class="{ 'has-error' : addr1HasError }">
                    <input type="text" name="addr1" class="form-control" ng-model="user.addr1" maxlength="50" required placeholder="Address 1" ng-blur="checkAddr1()" ng-keyup="checkAddr1()">
                    <p ng-show="addr1ReqErr" class="help-block">Your Address 1 is Required</p>
                </div>

                <div class="form-group col-sm-3">
                    <input type="text" name="addr2" class="form-control" ng-model="user.addr2" maxlength="15" placeholder="Address 2">
                </div>

                <div class="form-group col-sm-6" ng-class="{ 'has-error' : cityHasError }">
                    <input type="text" name="city" class="form-control" ng-model="user.city" maxlength="35" required placeholder="City" ng-blur="checkCity()" ng-keyup="checkCity()">
                    <p ng-show="cityReqErr" class="help-block">Your City is Required</p>
                </div>
                
                <div class="form-group col-sm-6" ng-class="{ 'has-error' : stateHasError}">
                     <select class="form-control" ng-model="user.state" name="state" required ng-options="state.stateName as state.stateName for state in states" ng-blur="checkState()" ng-keyup="checkState()">
                          <option value="">Select a State</option>
                     </select>
                     <p ng-show="stateReqErr" class="help-block">Please choose a state</p>
                </div>

                <div class="form-group col-sm-9" ng-class="{ 'has-error' : countryHasError }">
                    <select class="form-control" name="country" ng-model="user.country"  required ng-blur="checkCountry()" ng-keyup="checkCountry()">
                      <option value="">Select a Country</option>
                      <option>US</option>
                    </select>
                    <p ng-show="countryReqErr" class="help-block">Please choose a country</p>
                </div>

                <div class="form-group col-sm-3" ng-class="{ 'has-error' : zipHasError}">
                    <input type="text" numbers-only ng-minlength="5" ng-maxlength="5" maxlength="5" name="zipcode" required class="form-control" ng-model="user.zipcode"  placeholder="Zipcode" 
                    ng-blur="checkZip()" ng-keyup="checkZip()">
                    <p ng-show="zipReqErr" class="help-block">Your Zipcode is Required</p>
                    <p ng-show="zipLengthErr" class="help-block">Zipcode have to be 5 digits</p>
                </div>

                <button type="submit" class="button col-sm-12" ng-disabled="userForm.$invalid" ng-click="submitForm(userForm.$valid)">Submit</button>
                
            </form>
        </div><!-- col-sm-8 -->

        <!-- a Message to show when a data has been submitted successfully -->
        <div ng-show="showConfirmation" class="mainHeader">
            <h1>Congratulations!!</h1>
            <h3>{{userName}} you have been submitted to join the HelloWorld team.</h3>
        </div>
    </div><!-- /container -->
</body>
</html>